.property-card-container{
margin-top: var(--header-height);
position: relative;
height: 600px;

}

/* .card-info{
height: 240px;
position: absolute;
top: 80%;

} */
.card-blue-label{
    background-color: var(--darkblue);
    color: var(--white);
    height: 40px;
    width: 100%;
    position: absolute;
    top: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.left-side{
    display: block;
}


.right-side{
    margin: 12px;
}

.beds, .baths{
margin: 8px;
}

.location{
    background-color: var(--white);
    height: 60px;
    position: absolute;
    top: 90%;
    width: 100%;
    display: flex;
}

.property-type{
    position: absolute;
    top: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view{
    background-color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    width: 100%;
}

.home-icon{
    padding: 8px;
}