.city-details-page p{
 text-align: center;
}

.search-bar{

}

.property-cards-container{
margin-top: var(--header-height);
 display: flex;
 flex-wrap: wrap;
 
}


.about-city-container{


}

.left-side-city{

    
}