.home-detail-container{
    margin-top: var(--header-height);
    /* background-color: brown; */
}

.top-row, .middle-row{
 display: flex;
 justify-content: space-between;
}

.photo-grid{
 width: 50%;
 
}

.home-big{
width: 100%;
height: 300px;
border-radius: 24px;

}

.home-3pic {
width: 100%;

display: flex;
align-items: center;
justify-content: space-between;
}

.home2, .home3, .home4{
width: 30%;
border-radius: 12px;
margin: 4px;
}
.property-overview{
    /* width: 50%; */
    
    padding-top: 40px;
    border: 1px solid #CED3D8;
    border-radius: 24px;
}

.line-break{
    width: 85%;
    color: var(--gray);
}

.row1, .row2{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bedrooms, .bathrooms, .property-type-info, .price, .furnished-info, .available-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid white; */
}

.bedroom-info, .bathroom-info, .price-info{
    display: flex;
    align-items: center;
    color: var(--darkblue);
    
}

.property-type-info > p, .furnished-info > p, .available-info > p{
    color: var(--darkblue);
    
}
.bed-icon, .bath-icon{
   padding: 8px;
}

.top-right{
    display: block;
}
.interest-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-radius: 24px;
}

.shortlist{
    margin-top: 12px;
    display: flex;
    align-items: center; 
    border: 1px solid #CED3D8;
    border-radius: 8px;
    padding: 0 80px ;
}
button{
    margin-top: 12px;
    background-color: var(--darkblue);
    color: var(--white);
    border-radius: 8px;
    padding: 0 80px ;
}
.description-container{
    width: 50%;
    /* border: 1px solid #CED3D8; */
    border-radius: 24px;

    padding-left: 16px;
}

.description-container > h3{
    text-align: left;
    

}
/* .bottom-row{
 
} */

.key-features-list{
    margin-top: 40px;
    width: 50%;
    /* border: 1px solid red; */
}

.key-features-list > h3{
    text-align: left;
    padding-left: 16px;

}

.feature0, .feature1, .feature2, .feature3, .feature4{
    display: flex;
    align-items: center;
    padding-left: 16px;
}
.check{
    padding-right: 8px;

}