.banner-img{
    position: absolute;
    height: 100%;
    width: 100%;
}

.banner-overlay {
    background: linear-gradient(180deg, rgba(0.0.0.1) 0%, rgba(215,215,215,0) 100%);
    position: absolute;
    height: 100%;
    width: 100%;
    color: var(--white);
}

.banner-text{
    text-align: center;
    color: var(--white);
   
    position: absolute;
     /* left: 50%; */
    top: 50%; 
    width: 100%;
    z-index: 3;
   
    
}